1. Introduction to TensorFlow/week 4/practice 1/horse-or-human
1. Introduction to TensorFlow/week 4/practice 1/horse-or-human.zip
1. Introduction to TensorFlow/week 4/practice 2/horse-or-human
1. Introduction to TensorFlow/week 4/practice 2/horse-or-human.zip
1. Introduction to TensorFlow/week 4/practice 2/validation-horse-or-human
1. Introduction to TensorFlow/week 4/practice 2/validation-horse-or-human.zip
1. Introduction to TensorFlow/week 4/assignment/data

2. Convolutional Neural Networks in TensorFlow/week 1/practice/cats_and_dogs_filtered
2. Convolutional Neural Networks in TensorFlow/week 1/practice/cats_and_dogs_filtered.zip
2. Convolutional Neural Networks in TensorFlow/week 2/practice 1/tmp
2. Convolutional Neural Networks in TensorFlow/week 2/practice 1/cats_and_dogs_filtered.zip
2. Convolutional Neural Networks in TensorFlow/week 2/practice 2/tmp
2. Convolutional Neural Networks in TensorFlow/week 2/practice 2/horse-or-human.zip
2. Convolutional Neural Networks in TensorFlow/week 2/practice 2/validation-horse-or-human.zip
2. Convolutional Neural Networks in TensorFlow/week 3/practice/tmp
2. Convolutional Neural Networks in TensorFlow/week 3/practice/cats_and_dogs_filtered.zip
2. Convolutional Neural Networks in TensorFlow/week 3/assignment/tmp
2. Convolutional Neural Networks in TensorFlow/week 3/assignment/horse-or-human.zip
2. Convolutional Neural Networks in TensorFlow/week 3/assignment/validation-horse-or-human.zip
2. Convolutional Neural Networks in TensorFlow/week 4/practice/tmp
2. Convolutional Neural Networks in TensorFlow/week 4/practice/rps.zip
2. Convolutional Neural Networks in TensorFlow/week 4/practice/rps-test-set.zip