Introduction to TensorFlow/week 4/practice 1/horse-or-human
Introduction to TensorFlow/week 4/practice 1/horse-or-human.zip

Introduction to TensorFlow/week 4/practice 2/horse-or-human
Introduction to TensorFlow/week 4/practice 2/horse-or-human.zip
Introduction to TensorFlow/week 4/practice 2/validation-horse-or-human
Introduction to TensorFlow/week 4/practice 2/validation-horse-or-human.zip

Introduction to TensorFlow/week 4/assignment/data